/* Allgemeine Container-Styles */
.home-container {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    height: 100vh;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

 p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

/* Content-Bereich der Home-Seite */
.home-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

/* Kartenelemente für verschiedene Aktionen */
.home-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.home-card:hover {
    transform: translateY(-10px); /* Kleine Animation bei Hover */
}

.home-card h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.home-card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 200px;
}

/* Schaltflächen */
.home-button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: lightslategray;
    color:wheat;
}

/* Responsiveness für kleinere Bildschirme */
@media (max-width: 768px) {
    .home-header h1 {
        font-size: 2rem;
    }

    .home-header p {
        font-size: 1rem;
    }

    .home-content {
        flex-direction: column;
        gap: 10px;
    }

    .home-card {
        width: 100%;
        max-width: 400px;
    }
}
