* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: center;     /* Zentriert vertikal */
    min-height: 100vh;       /* Stellt sicher, dass der Body die volle Höhe des Viewports einnimmt */
    margin: 0;               /* Entfernt Standardabstände */
}

#root {
    width: 100%;             /* Volle Breite für den Container */
    max-width: 1200px;       /* Maximale Breite des Inhalts */
    padding: 2rem;           /* Abstand rund um den Inhalt */
    text-align: center;      /* Text innerhalb des Containers zentrieren */
}